.facebook-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	width: 6.11rem;
	height: 13.3rem;

	@media  (width >= 1440px) {
		width: 9rem;
		height: 19rem;
	}
}

.twitter-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	width: 17.64rem;
	height: 18.2rem;

	@media  (width >= 1440px) {
		width: 26rem;
		height: 26rem;
	}
}

.instagram-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	width: 12.77rem;
	height: 13.18rem;

	@media  (width >= 1440px) {
		width: 18.82rem;
		height: 18.82rem;
	}
}